body, #header {
    background: #272729 !important;
    font-family: 'Fira Sans', sans-serif !important;
}

.card {
    background: #3F3F46 !important;
    box-shadow:  0 10px 20px 5px rgb(0 0 0 / 30%) !important;
}

h4 {
    color: white !important;
}

.fa {
  padding-right: 5px;
}

#header {
    background: linear-gradient(45deg, #24c1c1, #d53369) !important;
}

#header .logo img {
    height:  4rem !important;
}

body.header-fixed.header-animated #header.scrolled .logo img {
    height:  2rem !important;
}

.mobile-menu .button_container .top,
.mobile-menu .button_container .middle,
.mobile-menu .button_container .bottom {
    background:  white;
}

@media (max-width:  900px) {
    .blog-listing .bricklayer-column {
        padding-right: 0 !important;
    }
}

.hero.hero-none {
    padding:  0!important;
    min-height:  3rem !important;
}

a {
    color:  #35b3b8 !important;
}

a:visited {
    color: #ce396d !important;
}

#header .navbar-section.desktop-menu {
    display:  none;
}

.label.label-secondary {
    background:  white !important;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Fira Sans', sans-serif !important;
}

#body-wrapper h1,
#body-wrapper h2,
#body-wrapper h3, 
#body-wrapper h4,
#body-wrapper h5,
#body-wrapper h6,
#body-wrapper p,
#body-wrapper ul,
#body-wrapper ul li,
.card-body p {
    color: #ababab !important;
}

.text-light {
    color: white !important;
}

.text-dark {
    color: black !important;
}

/*.card .card-body p {
    color:  #ababab;
}*/

.image-credit-wrapper {
overflow: hidden;
position: relative;
max-width: 1400px;
}

.image-credit-wrapper .image-credit {
position: absolute;
right: 0px;
bottom: 0px;
margin-bottom: 6px;
}

.image-credit {
background: rgba(0,0,0,.5);
border-top-left-radius:3px;
color: #ccc;
display: inline-block;
font-size: 11px;
font-family: helvetica;
font-weight: 300;
padding: 5px 8px;
position: absolute;
bottom: 0;
right: 0;
}

.image-credit a {
  color: #ccc;
  text-decoration: none;
}

.image-credit a:hover {
  color: #ccc;
  text-decoration: underline;
}

.hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#blog-hero h1 {
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
}

#blog-hero h2 {
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
}

#blog-hero h3 {
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
}

#blog-hero #to-start {
    text-shadow: 1px 1px 4px rgba(34,34,34,0.6);
}

img.left {
  display:inline;
  float:left;
  margin:1rem 15px 5px 0;
  max-width: 50%;
}

img.right {
  float:right;
  margin:1rem 0 5px 15px;
  max-width: 50%;;
}

img.center {
  display:block;
  margin:10px
  auto;
}

figure.image-caption {
    text-align: center;
    margin: 1rem;
}

figure.image-caption figcaption {
    opacity: 0.7;
    font-size: 90%;
}

figure.figure-right {
    float:right;
    margin:5px 0 5px 15px;
    max-width: 50%;
}

figure.figure-left {
    float: left;
    margin:5px 15px 5px 0;
    max-width: 50%;
}

figure.caption-left figcaption {
    text-align: left;
}

figure.caption-right figcaption {
    text-align: right;
}

h1.sections-page-title-template, h2.sections-page-title-template, h3.sections-page-title-template, h4.sections-page-title-template, h5.sections-page-title-template, h6.sections-page-title-template {
    margin-top: 0rem;
}

.sections-page-title {
    margin-top: -2rem;
}

.bricklayermodulars {
    padding-right: 25px;
}

.blogitem__readingtime {
  padding-left: 10px;
}
